/* General Properties */

@font-face {
    font-family: norse-bold;
    src: url("./Norse-Bold.otf");
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.3;
    letter-spacing: 1.1px;
    font-size: medium;
}

/* Main */

.container {
    display: flex;
}

/* Left Section */

.left {
    width: 80vw;
    height: 100vh;
    background-image: url("./images/mountain-background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    flex-grow: 0;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 25vh;
    background-color: rgba(229, 255, 255, 0.15);
    height: 12vh;
}

.logo h1 {
    font-family: norse-bold, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 72px;
    margin: 0px;
    text-shadow: 3px 3px 1px rgb(180, 224, 230);
}

.logo img {
    width: auto;
    height: 200px;
    position: relative;;
    bottom: 5.5vh;

}

/* Right Section */

.right {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(244, 251, 255);
}

.toggle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 10px;
    padding-right: 10px;
}

label[for="theme-toggle"] {
    width: 60px;
    height: 30px;
    position: relative;
    display: block;
    background-color: #f1f0f0;
    border-radius: 20px;
    box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.3), inset 0px -1px 5px rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: 0.3s;
}

label[for="theme-toggle"]::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    transition: 0.3s;
}

.toggle input {
    width: 0px;
    height: 0px;
    visibility: hidden;
}

.toggle input:checked + label {
    background-color: rgb(53, 44, 44);
}

.toggle input:checked + label:after {
    transform: translateX(100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}

.intro h2 {
    width: 80%;
    padding-left: 5%;
    padding-bottom: 2%;
}

.sign-up-form .inside-box {
    padding-left: 5%;
    padding-top: 2.5%;
    padding-bottom: 5%;
    background-color: white;
    box-shadow: 0px 2px 7px -2px rgb(22, 22, 22);
}

.sign-up-form form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-top, .form-middle, .form-bottom {
    display: flex;
    gap: 20px;
}

.form-top div, .form-middle div, .form-bottom div {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 35%;
}

.form-top label, .form-middle label, .form-bottom label {
    font-weight: 500;
}

.form-top input, .form-middle input, .form-bottom input {
    height: 30px;
    font-size: 20px;
}

.sign-up-form .outside-box {
    padding-top: 3%;
    padding-left: 5%;
}

/* colors: rgb(180, 224, 230),  rgb(198, 198, 255)*/

.sign-up-form .outside-box button {
    background-color: rgb(223, 255, 255);
    border: 3px solid rgb(60, 148, 159);
    border-radius: 10px;
    padding: 15px 32px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}

.sign-up-form .outside-box button:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 20px 5px rgb(180, 224, 230);
}

.sign-up-form .outside-box a {
    text-decoration: none;
    color: rgb(60, 148, 159);
    font-weight: bold;
}

/*box-shadow: 0px 0px 20px 5px rgb(198, 198, 255); */

div label {
    text-transform: uppercase;
}

.italic-style {
    font-style: italic;
}

/* Footer */

footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 20px;
}